html {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  padding-top: 100px;
}

.board-layout {
  display: flex;
  height: calc(100vh - 100px);
  overflow: auto;
  white-space: nowrap;
}

/* Left sidebar */
#sidebar {
  width: 260px;
  position: fixed;
  top: 85px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  flex-grow: 0;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

#boardContent {
  margin-left: 260px;
  margin-right: 320px;
  overflow-y: auto;
  height: calc(100vh - 100px);
  flex-grow: 1;
  transition: margin-left 0.3s ease, margin-right 0.3s ease;
}

body.sidebar-collapsed #sidebar {
  transform: translateX(-260px);
}

body.sidebar-collapsed #boardContent {
  margin-left: 0 !important;
}

.list-view {
  flex: 0 0 auto;
  vertical-align: top;
}

.board-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.board-scroll .row {
    display: flex;
    flex-wrap: nowrap;
}

.add-card {
  background-color: rgba(255, 255, 255, 0.282);
}

/* Right Side bar */

#rightSidebar {
  width: 320px;
  position: fixed;
  top: 85px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  flex-grow: 0;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

body.right-sidebar-collapsed #rightSidebar {
  transform: translateX(320px);
}

body.sidebar-collapsed #boardContent {
  margin-left: 0 !important;
}

body.right-sidebar-collapsed #boardContent {
  margin-right: 0 !important;
}


/* TOAST */
.toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sb-toast {
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  font-size: 14px;
  animation: slideIn 0.3s ease-out, fadeOut 0.s ease-in 3s forwards;
}

.sb-toast-board_added {
  border-left: 4px solid #28a745;
}

.sb-toast-role_changed {
  border-left: 4px solid #0d6efd;
}

.sb-toast-board_removed {
  border-left: 4px solid #dc3545;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon-spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.icon-spin {
  display: inline-block;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}