html {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  padding-top: 100px;
}

.board-layout {
  display: flex;
  height: calc(100vh - 100px);
  overflow: auto;
  white-space: nowrap;
}

#sidebar {
  width: 260px;
  position: fixed;
  top: 85px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  flex-grow: 0;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

#boardContent {
  margin-left: 260px;
  overflow-y: auto;
  height: calc(100vh - 100px);
  flex-grow: 1;
  transition: all 0.3s ease;
}

body.sidebar-collapsed #sidebar {
  transform: translateX(-260px);
}

body.sidebar-collapsed #boardContent {
  margin-left: 0 !important;
}

.list-view {
  flex: 0 0 auto;
  vertical-align: top;
}

.board-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.board-scroll .row {
    display: flex;
    flex-wrap: nowrap;
}

.add-card {
  background-color: rgba(255, 255, 255, 0.282);
}